

				<!-- Took out class "rotatable" here -->
			<div class="top-container">
				<a href="/home/"><div class="nav-logo"><img id="logo-img" src="../assets/images/website-logo-rd1-01.png"></div></a>
				
				<nav>
					{% for item in site.data.navigation %}
						<a href="{{item.link}}" {% if page.url contains item.link %} class="current" {% endif %}><div class="nav-item"><h4>{{ item.name }}</h4></div></a>
					{% endfor %}

<!-- 				<div class="nav-exit">
					<p>^</p>
				</div> -->
				
				</nav>
			</div>