

			<div class="top-container">
				<div class="nav-logo"><a href="/home/"><img class="logo-img" src="../assets/images/website-logo-rd1-01.png"></a></div>
				<div class="nav-opener"><div id="nav-opener-button" class="nav-opener-buttons"><img id="hamburger" src="../assets/images/menu-button.png"></div></div>
				<nav>
					{% for item in site.data.navigation %}
						<a href="{{item.link}}" {% if page.url contains item.link %} class="current" {% endif %}><div class="nav-item"><h4>{{ item.name }}</h4></div></a>
					{% endfor %}

<!-- 				<div class="nav-exit">
					<p>^</p>
				</div> -->

				</nav>
			</div>
