body {
    margin:0 auto;
    width: 67%
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    width: 100%;
}
header {
    height: 10%;
    width: 100%;
}

nav, footer {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}
@media (max-width: 35em) {

    nav {
        overflow: hidden;
        height: inherit;
        right: 0em;
        text-align: right;
    }
    nav a {
        float: right;
        display: block;
        margin: 0.2em;
        padding: 0.5em;
        border-top: none;
        border-right: 3px solid white;
    }
    .current {
        border-right: 3px solid red;
    }
    .current:hover {
        border-top: 0;
        border-right: 3px solid red;
    }
}
@media (min-width: 35em) {
    nav {
        overflow: hidden;
        position: fixed;
        height: 4em;
        top: 0.1em;
    }

    nav, footer ul {
        padding: 0px;
        list-style: none;
        width: 100%;
    }

    nav a {
        float: left;
        margin: auto;
        border-top: 3px solid white;
    }
    nav a:hover {
        border-top: 3px solid #999;

    }
    nav .nav-item {
        padding: 1em 0.5em;
    }
    .current {
        border-top: 3px solid red;
    }
    .current:hover {
        border-top: 3px solid red;
    }
}
@media (min-width: 50em) {
    nav .nav-item {
        padding: 1em 1.5em;
    } 
}
.container{
    margin-top: 6.1em;
}

.container ul {
    list-style: none;
}

nav a, footer ul li {
    display: inline;
    color: #999;

}

footer ul li a {
    color: #999;
}



h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

h1 a, h2 a {
    color: #333;
}

.listing {
    margin: 0;
}
.listing a {
    color: black;
}
.listing li {
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding: 2em;
    border-color: gold;
    border-width: 5px;
    border-style: solid;
    margin: 1em 0em;

}

.current {
    color: red;
}