body {
    margin: 60px auto;
    width: 67%;
}

nav, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.container ul {
    list-style: none;
}

nav a, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #999;

}

footer ul li a {
    color: #999;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

h1 a, h2 a {
    color: #333;
}

.listing {
    margin: 0;
}
.listing a {
    color: black;
}
.listing li {
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding: 2em;
    border-color: gold;
    border-width: 5px;
    border-style: solid;
    margin: 1em 0em;

}

.current {
    color: red;
}