<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="/assets/css/styles.css">
			{% if page.bg_theme == 'light' %}
			<!--how do comments work-->
			<link rel="stylesheet" href="/assets/css/styles_light.css">
			{% endif %}

			<link rel="shortcut icon" href="">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script>
				console.log("Hello World!");

				// This section of the script is for the background image.
				$(document).ready(function() {
					console.log("ready!");
					var activeSite = "{{page.url}}";
					console.log(activeSite);
					var bgtheme = "{{page.bg_theme}}";
					var black = "#000";
					var darkgray = "#111";
					var medgray = "#555";
					var white = "#fff";
					var navItems = $("nav a");


					//Background Image

					if (activeSite.indexOf("writing") == -1) {
						$("body").css({"background": "url({{ site.url }}/photos/{{page.bg_image}}) no-repeat center center fixed", "-webkit-background-size": "cover", "-moz-background-size": "cover", "-o-background-size": "cover", "background-size": "cover", "background-color": darkgray});
					}




					// Hide and Show buttons to hide or show background image

					$("#hide, #show").click(function(){
						$(this).siblings("p", "h2").toggle("fast", function() {
						//	$(".blurb-darkener").animate({
						//		width: "100px",
						//		height: "100px"
						//	}, 500);
						//}, function() {
						//	$(".blurb-darkener").animate({
						//		width: "500px",
						//		height: "500px"
						//	}, 500)
						});
						$("#hide").toggle();
						$("#show").toggle();
						$(".body-darkener").fadeToggle();
						$(".body-container").toggleClass("faded");
					});


					navItems.each(function() {
						console.log($(this).hasClass("current"));
						if ($(this).hasClass("current") == false) {
						}
					});
					console.log(bgtheme);

					// This section of the script is for picking the background color based on content/other variables.
					console.log(bgtheme);
					console.log("{{page.title}}");
					if (bgtheme == "light" || activeSite.indexOf("writing") >= 0) {
						// $("body").addClass("bg-light");
						// console.log("bg-light");
						// $("html").css({"background-color": "white"});
						// $(".container").children("h1, p, a, .post p").addClass("darkgray");
						// $("h1, h2, .container a").addClass("darkgray");
						// $("p").addClass("medgray");


					}
					else if (bgtheme == "dark") {
						console.log("this dark else if is working");
//					$("html").css({"background-color": "#333"});
						// $("body").addClass("bg-dark");
						$(".body-darkener").hide();

						navItems.each(function() {

						})
					}
					else {
						// $("body").addClass("bg-neutral");
					}
					var postInIndex = $(".listing li");
					postInIndex.hover(function() {
						window.status = $(this).find("a:first").attr("href");
						// $(this).children("h2").removeClass("darkgray").css({"text-decoration": "underline"});
						// console.log("wassup its the postinindex");
						$(this).find("a:last").addClass("underlined");
				    }, function () {
				        window.status = "";
						// $(this).children("h2").addClass("darkgray").css({"text-decoration": "none"});
						$(this).find("a:last").removeClass("underlined");


				    });
					postInIndex.click(function() {
				        window.location = $(this).find("a:first").attr("href");
				        return false;
					});
				});

			</script>


			<!-- links to fonts below-->
			<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif&display=swap" rel="stylesheet">
		</head>
		<body>
			<div class="body-darkener">
			</div>
			<div class="body-container">
				<header>
					{% include navigation.html %}
				</header>
				<div class="container">

				{{ content }}

				</div><!-- /.container -->
			</div>
		</body>
	</html>
