<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="/assets/css/styles.css">


			<link rel="shortcut icon" href="">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script>
				console.log("Hello World!");

				// This section of the script is for the background image.
				$(document).ready(function() {
					console.log("ready!");
					var activeSite = "{{page.url}}";
					console.log(activeSite);
					if (activeSite.indexOf("writing") == -1) {
						$("body").css({"background": "url({{ site.url }}/photos/{{page.bg_image}}) no-repeat center center fixed", "-webkit-background-size": "cover", "-moz-background-size": "cover", "-o-background-size": "cover", "background-size": "cover", "background-color": "#333"});
					}
					else {
						$("body").css("background-color", "#111");
					}



					// This section of the script is for hiding and showing the page's text.

					$("#hide, #show").click(function(){
						$(this).siblings("p", "h2").toggle("fast", function() {
						//	$(".blurb-darkener").animate({
						//		width: "100px",
						//		height: "100px"
						//	}, 500);
						//}, function() {
						//	$(".blurb-darkener").animate({
						//		width: "500px",
						//		height: "500px"
						//	}, 500)
						});
						$("#hide").toggle();
						$("#show").toggle();
						$(".body-darkener").fadeToggle();
						$(".body-container").toggleClass("faded");
					});


					// This section of the script is for picking the background color based on content/other variables.
					var bgtheme = "{{page.bg_theme}}";
					var black = "#000";
					var darkgray = "#333";
					var medgray = "#555";
					var white = "#fff";
					var navItems = $("nav a");

					if (bgtheme == "light" || activeSite.indexOf("writing") >= 0) {
						$("html").css({"background-color": "white"});
						$("h1, h2, .container a").addClass("darkgray");
						$("p").addClass("medgray");

						navItems.each(function() {
							console.log($(this).hasClass("current"));
							if ($(this).hasClass("current") == false) {
								$(this).addClass("medgray medgray-border");
							}
						});
						console.log(bgtheme);
					}
					else if (bgtheme == "dark") {
//						$("html").css({"background-color": "#333"});
						navItems.each(function() {

						})
					}
					var postInIndex = $(".listing li");
					postInIndex.hover(function() {
						window.status = $(this).find("a:first").attr("href");
						$(this).children("h2").removeClass("darkgray").css({"text-decoration": "underline"});
						$(this).find("p:last").css({"color": "red"});
				    }, function () {
				        window.status = "";
						$(this).children("h2").addClass("darkgray").css({"text-decoration": "none"});
						$(this).find("p:last").css({"color": medgray});

				    });
					postInIndex.click(function() {
				        window.location = $(this).find("a:first").attr("href");
				        return false;
					});
				});
				console.log("Goodbye world.");
			</script>


			<!-- links to fonts below-->
			<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif&display=swap" rel="stylesheet">
		</head>
		<body>
			<div class="body-darkener">
			</div>
			<div class="body-container">
				<header>
					{% include navigation.html %}
				</header>
				<div class="container">

				{{ content }}

				</div><!-- /.container -->
			</div>
		</body>
	</html>
